- title "Kärnkraft Nyheter", false
%h1
  %a{:href => '/feeds/index.rss'}<
    %img{:src => 'http://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Feed-icon.svg/24px-Feed-icon.svg.png'}
  Kärnkraft Nyheter

%p= link_to 'Update', '/feeds/update'

- for feed in @feeds
  %p
    %b= link_to feed.title.force_encoding("UTF-8"), feed.link
    = feed.pubdate.strftime('%a, %d %b %Y')
    <br/>
    = raw feed.description.gsub('<![CDATA[','').gsub(']]>','').force_encoding("UTF-8")
   
%h4 Feed sources: 
%ol
  - @sources.split.each_slice(2) do |a|
    %li
      = "%s: " % a.first
      = link_to a.last, a.last
